
body {
    display: flex;
    height: 100vh;
}
ul{
    list-style: none;
}

.navbar-aside {
    display: flex;
    flex: 0 0 250px;
    min-width: 250px;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}
.nav-links ul li a{
   display: flex;
    gap: 16px;
}
.nav-links img{
    display: flex;
    width: 20px;
}

.foto-aside1 {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.aside-knoppen{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}
.aside-knoppen button{
    width: 100%;
}

/*---container-rechts---*/

.container-rechts {
    width: 100%;
    overflow-y: auto;
}

/*---header---*/

header{
    background-image: url("../assets/placeholder-image.svg");
    background-position: center;
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 150px;
}
/*---main---*/

.main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.main-container article{
    flex: 1 1 260px;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
}
.icoon{
    display: flex;
    justify-content: space-between;
}

.icoon img{
    max-width: 16px;
}

.button-secondary{
    width: 100%;
}

/*---footer---*/
footer{
    background-color: #383838;
    color: white;
    text-align: center;
    padding: 14px;
}




















